In [1]:
import rasterio
from rasterio.enums import Resampling
from rasterstats import zonal_stats
import shapely
from pathlib import Path
import numpy as np


toulouse = shapely.Polygon(
    [[359326,4833160],
     [376735,4842547],
     [385238,4826271],
     [367914,4816946],
     [359326,4833160]]
)

arcachon = shapely.Polygon(
    [[629473,4959797],
     [649299,4960143],
     [649315,4940864],
     [630504,4940913],
     [629473,4959797]]
)

biarritz = shapely.Polygon(
    [[620357, 4825277],
     [628680, 4825402],
     [629181, 4802997],
     [610093, 4802622],
     [610155, 4808442],
     [620357, 4825277]]
)

brisbane = shapely.Polygon(
    [[494125, 6974741],
     [494125, 6974741],
     [518910, 6973355],
     [518910, 6973355],
     [518712, 6953715],
     [518712, 6953715],
     [493976, 6955348],
     [493976, 6955348],
     [494125, 6974741]]
)

buenosaires = shapely.Polygon(
    [
         [356354,6181219],
         [375609,6181386],
         [376276,6145542],
         [356937,6145459],
         [356354,6181219],
    ]
)

cantho = shapely.Polygon(
    [
         [574413,1117316],
         [593936,1117304],
         [593959,1103770],
         [574344,1103701],
         [574413,1117316],
    ]
)

helsinki = shapely.Polygon(
    [
         [378038,6677645],
         [397619,6676929],
         [397165,6664249],
         [377680,6664846],
         [378038,6677645],
    ]
)

lagos = shapely.Polygon(
    [
         [528578,733313],
         [547696,733545],
         [547542,705913],
         [528578,706068],
         [528578,733313],
    ]
)

cairo = shapely.Polygon(
    [
         [321171,3336141],
         [340490,3335740],
         [340162,3314598],
         [320588,3314926],
         [321171,3336141],
    ]
)

maros = shapely.Polygon(
    [
         [775303,9473671],
         [795021,9473362],
         [794849,9461765],
         [777230,9461971],
         [775303,9473671],
    ]
)

montpellier = shapely.Polygon(
    [
        [569263,4842348],
        [579275,4847307],
        [585825,4841974],
        [585170,4832523],
        [576562,4831868],
        [576936,4825880],
        [579181,4824102],
        [579369,4821576],
        [568982,4816804],
        [569263,4842348],
    ]
)

munich = shapely.Polygon(
    [
         [681767,5348957],
         [701333,5349752],
         [701955,5330290],
         [682666,5329512],
         [681767,5348957],
    ]
)

strasbourg = shapely.Polygon(
    [
        [393875,5382644],
        [398185,5383652],
        [411526,5383377],
        [411434,5373887],
        [409371,5372282],
        [408179,5365681],
        [403503,5367698],
        [404236,5369761],
        [402998,5371549],
        [396901,5369944],
        [395755,5374345],
        [397864,5375446],
        [393875,5382644],
    ]
)

nantes = shapely.Polygon(
    [
         [597911,5240048],
         [619604,5239798],
         [620103,5220682],
         [598410,5220848],
         [597911,5240048],
    ]
)
newyork = shapely.Polygon(
    [
         [582100,4516163],
         [590073,4516192],
         [590013,4503800],
         [582190,4503741],
         [582100,4516163],
    ]
)

paris = shapely.Polygon(
    [
         [443272,5423320],
         [462678,5423046],
         [462472,5404120],
         [443203,5404051],
         [443272,5423320],
    ]
)

portelisabeth = shapely.Polygon(
    [
         [358931,6255259],
         [376445,6255433],
         [372154,6242906],
         [378823,6236701],
         [359569,6236469],
         [358931,6255259],
    ]
)

rio = shapely.Polygon(
    [
         [670012,7479859],
         [676732,7479713],
         [689295,7460867],
         [669939,7460429],
         [670012,7479859],
    ]
)

sanfrancisco = shapely.Polygon(
    [
         [541991,4182570],
         [553709,4185286],
         [559529,4158202],
         [543155,4157426],
         [541991,4182570],
    ]
)


shanghai = shapely.Polygon(
    [
         [344856,3486292],
         [363657,3486033],
         [363139,3442206],
         [344337,3442206],
         [344856,3486292],
    ]
)

tianjin = shapely.Polygon(
    [
         [552371,4330867],
         [571582,4330867],
         [571674,4295401],
         [552648,4295401],
         [552371,4330867],
    ]
)



scale_factor = 1/10

In [2]:
mean = np.array([0,0,0,0], dtype=np.float64)
count = np.array([0,0,0,0], dtype=np.float64)

table = []

In [3]:
cities = [
    ('toulouse', toulouse),
    ('arcachon', arcachon),
    ('biarritz', biarritz),
    ('brisbane', brisbane),
    ('buenos-aires', buenosaires),
    ('can-tho', cantho),
    ('helsinki', helsinki),
    ('lagos', lagos),
    ('le-caire', cairo),
    ('maros', maros),
    ('montpellier', montpellier),
    ('munich', munich),
    ('strasbourg', strasbourg),
    ('nantes', nantes),
    ('new-york', newyork),
    ('paris', paris),
    ('port-elisabeth',portelisabeth),
    ('rio-janeiro', rio),
    ('san-francisco', sanfrancisco),
    ('shanghai', shanghai),
    ('tianjin', tianjin)
]

for city, poly in cities:
    
    print(f'processing {city}')

    with rasterio.open(Path("/work/OT/ai4geo/DATA/DATASETS/DIGITANIE_v3")/f"{city.upper()}/{city.upper()}.tif") as dataset:
        
        print(f'data shape {dataset.shape}')
        
        # resample data to target shape
        data = dataset.read(
            out_shape=(
                dataset.count,
                int(dataset.height * scale_factor),
                int(dataset.width * scale_factor)
            ),
            resampling=Resampling.bilinear
        )

        # scale image transform
        transform = dataset.transform * dataset.transform.scale(
            (dataset.width / data.shape[-1]),
            (dataset.height / data.shape[-2])
        )
    
    for band in range(1, 5):
        
        stat = zonal_stats(
            poly, 
            np.clip(data[band-1], 0, 1),
            stats="count mean",
            affine=transform,
            band_num=band
        )[0]
        
        count[band-1] += stat['count']
        mean[band-1] += stat['count']*(stat['mean']- mean[band-1]) / count[band-1]
        
        true_stat = zonal_stats(
            poly, 
            data[band-1],
            stats="mean min max percentile_0.5 percentile_99.5",
            affine=transform,
            band_num=band
        )[0]
        
        table.append([
            city,
            data.shape,
            band,
            stat['mean'],
            stat['count'],
            true_stat['mean'],
            true_stat['min'],
            true_stat['max'],
            true_stat['percentile_0.5'],
            true_stat['percentile_99.5']
        ])
        
        print(f'{city} : shape {data.shape}, band {band}')
    
    print(f'dataset mean: {mean}')
    print(f'dataset count: {count}')

processing toulouse
data shape (54062, 55600)

/work/OT/ai4usr/fournip/latest/lib/python3.8/site-packages/rasterstats/io.py:328: NodataWarning: Setting nodata to -999; specify nodata explicitly
  warnings.warn(

toulouse : shape (4, 5406, 5560), band 1
toulouse : shape (4, 5406, 5560), band 2
toulouse : shape (4, 5406, 5560), band 3
toulouse : shape (4, 5406, 5560), band 4
dataset mean: [0.10590576 0.11046101 0.11877787 0.20776041]
dataset count: [14482283. 14482283. 14482283. 14482283.]
processing arcachon
data shape (45609, 45980)
arcachon : shape (4, 4560, 4598), band 1
arcachon : shape (4, 4560, 4598), band 2
arcachon : shape (4, 4560, 4598), band 3
arcachon : shape (4, 4560, 4598), band 4
dataset mean: [0.0789354  0.09277907 0.10519757 0.14189107]
dataset count: [29227496. 29227496. 29227496. 29227496.]
processing biarritz
data shape (52359, 46818)
biarritz : shape (4, 5235, 4681), band 1
biarritz : shape (4, 5235, 4681), band 2
biarritz : shape (4, 5235, 4681), band 3
biarritz : shape (4, 5235, 4681), band 4
dataset mean: [0.07454723 0.08989791 0.10139829 0.17373766]
dataset count: [42692089. 42692089. 42692089. 42692089.]
processing brisbane
data shape (44188, 51195)
brisbane : shape (4, 4418, 5119), band 1
brisbane : shape (4, 4418, 5119), band 2
brisbane : shape (4, 4418, 5119), band 3
brisbane : shape (4, 4418, 5119), band 4
dataset mean: [0.08072606 0.09549754 0.10571495 0.18360974]
dataset count: [62026723. 62026723. 62026723. 62026723.]
processing buenos-aires
data shape (81685, 41879)
buenos-aires : shape (4, 8168, 4187), band 1
buenos-aires : shape (4, 8168, 4187), band 2
buenos-aires : shape (4, 8168, 4187), band 3
buenos-aires : shape (4, 8168, 4187), band 4
dataset mean: [0.10485568 0.11484514 0.12290367 0.202984  ]
dataset count: [89657090. 89657090. 89657090. 89657090.]
processing can-tho
data shape (27967, 39931)
can-tho : shape (4, 2796, 3993), band 1
can-tho : shape (4, 2796, 3993), band 2
can-tho : shape (4, 2796, 3993), band 3
can-tho : shape (4, 2796, 3993), band 4
dataset mean: [0.10666088 0.1174023  0.12529092 0.20453435]
dataset count: [1.00279799e+08 1.00279799e+08 1.00279799e+08 1.00279799e+08]
processing helsinki
data shape (27715, 41223)
helsinki : shape (4, 2771, 4122), band 1
helsinki : shape (4, 2771, 4122), band 2
helsinki : shape (4, 2771, 4122), band 3
helsinki : shape (4, 2771, 4122), band 4
dataset mean: [0.13360787 0.14389617 0.15431019 0.22545088]
dataset count: [1.10241562e+08 1.10241562e+08 1.10241562e+08 1.10241562e+08]
processing lagos
data shape (56814, 40066)
lagos : shape (4, 5681, 4006), band 1
lagos : shape (4, 5681, 4006), band 2
lagos : shape (4, 5681, 4006), band 3
lagos : shape (4, 5681, 4006), band 4
dataset mean: [0.13654627 0.14724542 0.15798959 0.21860122]
dataset count: [1.31137261e+08 1.31137261e+08 1.31137261e+08 1.31137261e+08]
processing le-caire
data shape (44261, 40971)
le-caire : shape (4, 4426, 4097), band 1
le-caire : shape (4, 4426, 4097), band 2
le-caire : shape (4, 4426, 4097), band 3
le-caire : shape (4, 4426, 4097), band 4
dataset mean: [0.14013377 0.14790046 0.15717108 0.2184536 ]
dataset count: [1.47617032e+08 1.47617032e+08 1.47617032e+08 1.47617032e+08]
processing maros
data shape (24698, 41289)
maros : shape (4, 2469, 4128), band 1
maros : shape (4, 2469, 4128), band 2
maros : shape (4, 2469, 4128), band 3
maros : shape (4, 2469, 4128), band 4
dataset mean: [0.13945582 0.1468858  0.15559484 0.21962442]
dataset count: [1.56301688e+08 1.56301688e+08 1.56301688e+08 1.56301688e+08]
processing montpellier
data shape (69683, 40416)
montpellier : shape (4, 6968, 4041), band 1
montpellier : shape (4, 6968, 4041), band 2
montpellier : shape (4, 6968, 4041), band 3
montpellier : shape (4, 6968, 4041), band 4
dataset mean: [0.13758353 0.14472987 0.15312493 0.21855459]
dataset count: [1.69093362e+08 1.69093362e+08 1.69093362e+08 1.69093362e+08]
processing munich
data shape (41208, 41530)
munich : shape (4, 4120, 4153), band 1
munich : shape (4, 4120, 4153), band 2
munich : shape (4, 4120, 4153), band 3
munich : shape (4, 4120, 4153), band 4
dataset mean: [0.13309772 0.14083255 0.14956709 0.21661951]
dataset count: [1.84231662e+08 1.84231662e+08 1.84231662e+08 1.84231662e+08]
processing strasbourg
data shape (43327, 47019)
strasbourg : shape (4, 4332, 4701), band 1
strasbourg : shape (4, 4332, 4701), band 2
strasbourg : shape (4, 4332, 4701), band 3
strasbourg : shape (4, 4332, 4701), band 4
dataset mean: [0.13050356 0.13856309 0.14731976 0.21910768]
dataset count: [1.92708447e+08 1.92708447e+08 1.92708447e+08 1.92708447e+08]
processing nantes
data shape (48078, 51770)
nantes : shape (4, 4807, 5177), band 1
nantes : shape (4, 4807, 5177), band 2
nantes : shape (4, 4807, 5177), band 3
nantes : shape (4, 4807, 5177), band 4
dataset mean: [0.12677714 0.13590499 0.14621367 0.21625793]
dataset count: [2.09325308e+08 2.09325308e+08 2.09325308e+08 2.09325308e+08]
processing new-york
data shape (25619, 16625)
new-york : shape (4, 2561, 1662), band 1
new-york : shape (4, 2561, 1662), band 2
new-york : shape (4, 2561, 1662), band 3
new-york : shape (4, 2561, 1662), band 4
dataset mean: [0.12673854 0.13589782 0.14616732 0.21531446]
dataset count: [2.13242388e+08 2.13242388e+08 2.13242388e+08 2.13242388e+08]
processing paris
data shape (42280, 42674)
paris : shape (4, 4228, 4267), band 1
paris : shape (4, 4228, 4267), band 2
paris : shape (4, 4228, 4267), band 3
paris : shape (4, 4228, 4267), band 4
dataset mean: [0.12642842 0.1356314  0.14633869 0.21270468]
dataset count: [2.28013479e+08 2.28013479e+08 2.28013479e+08 2.28013479e+08]
processing port-elisabeth
data shape (40316, 41100)
port-elisabeth : shape (4, 4031, 4110), band 1
port-elisabeth : shape (4, 4031, 4110), band 2
port-elisabeth : shape (4, 4031, 4110), band 3
port-elisabeth : shape (4, 4031, 4110), band 4
dataset mean: [0.12563363 0.1348143  0.14578293 0.21082152]
dataset count: [2.39616733e+08 2.39616733e+08 2.39616733e+08 2.39616733e+08]
processing rio-janeiro
data shape (40584, 40899)
rio-janeiro : shape (4, 4058, 4089), band 1
rio-janeiro : shape (4, 4058, 4089), band 2
rio-janeiro : shape (4, 4058, 4089), band 3
rio-janeiro : shape (4, 4058, 4089), band 4
dataset mean: [0.12571406 0.13481605 0.14562998 0.21096815]
dataset count: [2.49630867e+08 2.49630867e+08 2.49630867e+08 2.49630867e+08]
processing san-francisco
data shape (61958, 40745)
san-francisco : shape (4, 6195, 4074), band 1
san-francisco : shape (4, 6195, 4074), band 2
san-francisco : shape (4, 6195, 4074), band 3
san-francisco : shape (4, 6195, 4074), band 4
dataset mean: [0.12375981 0.13334393 0.14470417 0.20620197]
dataset count: [2.64542885e+08 2.64542885e+08 2.64542885e+08 2.64542885e+08]
processing shanghai
data shape (91285, 41597)
shanghai : shape (4, 9128, 4159), band 1
shanghai : shape (4, 9128, 4159), band 2
shanghai : shape (4, 9128, 4159), band 3
shanghai : shape (4, 9128, 4159), band 4
dataset mean: [0.1231824  0.13295106 0.14400762 0.203336  ]
dataset count: [2.97596113e+08 2.97596113e+08 2.97596113e+08 2.97596113e+08]
processing tianjin
data shape (73141, 40642)
tianjin : shape (4, 7314, 4064), band 1
tianjin : shape (4, 7314, 4064), band 2
tianjin : shape (4, 7314, 4064), band 3
tianjin : shape (4, 7314, 4064), band 4
dataset mean: [0.12263208 0.13294004 0.14413768 0.19675172]
dataset count: [3.24716271e+08 3.24716271e+08 3.24716271e+08 3.24716271e+08]

In [4]:
len(table)

84

In [5]:
from IPython.display import HTML
import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
df = pd.DataFrame(table, columns = ['city', 'size', 'band', 'mean clipped', 'count', 'mean', 'min', 'max', 'p0.5', 'p99.5'], dtype=float)
HTML(df.to_html(index=False))

/tmp/pbs.46512392.admin01/ipykernel_33906/192708657.py:4: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(table, columns = ['city', 'size', 'band', 'mean clipped', 'count', 'mean', 'min', 'max', 'p0.5', 'p99.5'], dtype=float)

In [47]:
with pd.ExcelWriter('/home/eh/fournip/digitanie_stats.xlsx') as writer:
    df.to_excel(writer, sheet_name='all')

In [16]:
import numpy as np
from dl_toolbox.utils import get_tiles
import shapely
import rasterio

DATA_POLYGON = shapely.Polygon(
    [[359326,4833160],
     [376735,4842547],
     [385238,4826271],
     [367914,4816946],
     [359326,4833160]]
)

def generate_polygon(bbox):
    """
    Generates a list of coordinates: [[x1,y1],[x2,y2],[x3,y3],[x4,y4],[x1,y1]]
    """
    return [[bbox[0],bbox[1]],
             [bbox[2],bbox[1]],
             [bbox[2],bbox[3]],
             [bbox[0],bbox[3]],
             [bbox[0],bbox[1]]]

with rasterio.open("/work/OT/ai4geo/DATA/DATASETS/DIGITANIE/Toulouse/Toulouse.tif") as f:
    h,w = f.shape
    full_in = False
    n = 0
    while not full_in:
        crop = rasterio.windows.Window(n, n, h-2*n, w-2*n)                            
        left, bottom, right, top = rasterio.windows.bounds(
            crop,
            transform=f.transform
        )
        crop_poly = shapely.Polygon(generate_polygon((left, bottom, right, top)))
        inter = shapely.intersection(crop_poly, DATA_POLYGON)
        area = shapely.area(inter) / shapely.area(crop_poly)
        full_in = (area>=.99)
        print(full_in)
        n += 1000
    n -= 1000
    mean = np.array([0,0,0,0], dtype=np.float64)
    i = 1
    for tile in get_tiles(w-2*n, h-2*n, 5000, col_offset=n, row_offset=n, cover_all=False):
        tile_img = f.read(window=tile)
        tile_mean = np.mean(tile_img, axis=(1,2))
        mean += (tile_mean - mean) / i
        i += 1
        print(mean)
    print(mean)
    #print(crop_img.shape)

False
False
False
False
False
False
False
False
False
False
False
False
False
True
[0.09849199 0.10335866 0.11288217 0.21531706]
[0.10470457 0.10885551 0.11775978 0.21399323]
[0.10903376 0.11242765 0.12168191 0.20664583]
[0.10844705 0.11138627 0.12069001 0.20740956]
[0.10557562 0.10966521 0.11909904 0.20698276]
[0.10710744 0.11109315 0.12032198 0.20756214]
[0.11020168 0.11371848 0.1227758  0.2059096 ]
[0.11283427 0.11598756 0.12498699 0.20361528]
[0.11156363 0.11483422 0.12402334 0.20355269]
[0.1106208  0.11421487 0.12348139 0.20388228]
[0.10903827 0.11329056 0.12251379 0.20506695]
[0.10861864 0.1129546  0.12211177 0.20540509]
[0.10802666 0.11251532 0.12180922 0.20359494]
[0.10809964 0.11251282 0.12184742 0.20328178]
[0.10789525 0.11236557 0.12185172 0.20181251]
[0.1078277  0.11238775 0.12180501 0.20202577]
[0.10830327 0.11284892 0.12225782 0.20118916]
[0.10843413 0.11267972 0.12215294 0.19965764]
[0.10836564 0.11236478 0.12190191 0.1976699 ]
[0.10763204 0.1118677  0.12150295 0.19698699]
[0.10718439 0.11163169 0.12118181 0.19843401]
[0.10714771 0.11166119 0.12119749 0.1982959 ]
[0.10716832 0.11151742 0.12106984 0.19745182]
[0.10703359 0.11119851 0.12077687 0.1969372 ]
[0.10686468 0.11111248 0.12071246 0.19698543]
[0.10686468 0.11111248 0.12071246 0.19698543]