In [3]:
import numpy as np
import pandas as pd
import rasterio
import rasterstats
import pathlib

from dl_toolbox.datasources import *
mean = np.array([0,0,0,0], dtype=np.float64)
count = np.array([0,0,0,0], dtype=np.float64)

scale_factor = 1/10

cities = [
    ('toulouse', DigiPolygons.toulouse.value),
    ('arcachon', DigiPolygons.arcachon.value),
    ('biarritz', DigiPolygons.biarritz.value),
    #('brisbane', brisbane),
    #('buenos-aires', buenosaires),
    #('can-tho', cantho),
    #('helsinki', helsinki),
    #('lagos', lagos),
    #('le-caire', cairo),
    #('maros', maros),
    ('montpellier', DigiPolygons.montpellier.value),
    #('munich', munich),
    ('strasbourg', DigiPolygons.strasbourg.value),
    ('nantes', DigiPolygons.nantes.value),
    #('new-york', newyork),
    ('paris', DigiPolygons.paris.value),
    #('port-elisabeth',portelisabeth),
    #('rio-janeiro', rio),
    #('san-francisco', sanfrancisco),
    #('shanghai', shanghai),
    #('tianjin', tianjin)
]

digitanie = pathlib.Path('/work/AI4GEO/data/DATA/DATASETS/DIGITANIE_v3')
#digitanie = Path('/data/DIGITANIE')

stats_table = []


for city, poly in cities:
    
    #city = city.capitalize()
    city = city.upper()
    
    print(f'processing {city}')

    with rasterio.open(digitanie/f"{city}/{city}.tif") as dataset:
        
        print(f'data shape {dataset.shape}')
        
        # resample data to target shape
        data = dataset.read(
            out_shape=(
                dataset.count,
                int(dataset.height * scale_factor),
                int(dataset.width * scale_factor)
            ),
            resampling=rasterio.enums.Resampling.bilinear,
            out_dtype=np.float32
        )

        # scale image transform
        transform = dataset.transform * dataset.transform.scale(
            (dataset.width / data.shape[-1]),
            (dataset.height / data.shape[-2])
        )
        
    stat_vals = [city]

    for band in range(1, 5):
        
        print(f"computing running mean over dataset and stats per city for band {band}")
        stat = rasterstats.zonal_stats(
            poly, 
            data[band-1],
            stats="count mean min max percentile_0.5 percentile_1 percentile_2 percentile_99.5 percentile_99 percentile_98",
            affine=transform,
            band_num=band
        )[0]
        count[band-1] += stat['count']
        mean[band-1] += stat['count']*(stat['mean']- mean[band-1]) / count[band-1]
        
        stat_vals += [
            stat['min'],
            stat['max'],
            stat['percentile_0.5'],
            stat['percentile_1'],
            stat['percentile_2'],
            stat['percentile_99.5'],
            stat['percentile_99'],
            stat['percentile_98']
        ]
        
    stats_table.append(stat_vals)
              
print(f'dataset mean: {mean}')

cols = ['city']
for i in range(1,5):
    cols += [
        f'p0_{i}',
        f'p100_{i}',
        f'p0.5_{i}',
        f'p1_{i}',
        f'p2_{i}',
        f'p99.5_{i}',
        f'p99_{i}',
        f'p98_{i}',
    ]
    
df_stats = pd.DataFrame(stats_table, columns = cols)

from IPython.display import HTML
pd.options.display.float_format = '{:,.4f}'.format
HTML(df_stats.to_html(index=False))

processing TOULOUSE
data shape (54062, 55600)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
processing ARCACHON
data shape (45609, 45980)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
processing BIARRITZ
data shape (52359, 46818)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
processing MONTPELLIER
data shape (69683, 40416)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
processing STRASBOURG
data shape (43327, 47019)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
processing NANTES
data shape (48078, 51770)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
processing PARIS
data shape (42280, 42674)
computing running mean over dataset and stats per city for band 1
computing running mean over dataset and stats per city for band 2
computing running mean over dataset and stats per city for band 3
computing running mean over dataset and stats per city for band 4
dataset mean: [0.08881215 0.10279623 0.11694938 0.18868923]

In [4]:
df_stats_duplic = df_stats.loc[df_stats.index.repeat(10)].reset_index(drop=True)

In [12]:
cls_distrib_table = []

def class_distrib_tile(msk_path, num_class):
        
    with rasterio.open(msk_path) as file:
        labels = file.read(out_dtype=np.uint8)
    
    counts, bins = np.histogram(labels.flatten(), range(num_class+1))
    
    return counts, bins

NUM_CLASS = 10
for city, _ in cities:
    
    #city = city.capitalize()
    city = city.upper()
    print(f'processing {city}')
    
    msk_paths = sorted(
        [path.relative_to(digitanie) for path in pathlib.Path(digitanie/city/'COS9').glob('*_mask.tif')],
        key=lambda x: int(x.stem.split('_')[1])
    )
    
    for msk in msk_paths:
        
        tile_distrib = [str(msk)]
        counts, bins = class_distrib_tile(digitanie/msk, NUM_CLASS)
        tile_distrib += list(counts)
        cls_distrib_table.append(tile_distrib)
    
cols = ['mask']+[f'class {i}' for i in range(NUM_CLASS)]
df_cls = pd.DataFrame(cls_distrib_table, columns = cols)
#HTML(df_cls.to_html(index=False))

processing TOULOUSE
processing ARCACHON
processing BIARRITZ
processing MONTPELLIER
processing STRASBOURG
processing NANTES
processing PARIS

In [13]:
total = list(df_cls.sum()[1:])
print(total)
coeffs_ce = [np.round(max(total)/c,1) for c in total]
print(coeffs_ce)
coeffs_bce = [np.round((sum(total) - c)/c,1) for c in total]
print(coeffs_bce)

[53595582, 11710278, 55743888, 12429850, 61576043, 86512821, 11410248, 39022780, 3117383, 425447]
[1.6, 7.4, 1.6, 7.0, 1.4, 1.0, 7.6, 2.2, 27.8, 203.3]
[5.3, 27.7, 5.0, 26.0, 4.4, 2.9, 28.4, 7.6, 106.6, 787.7]

In [14]:
split_table = []

for city, poly in cities:
    
    #city = city.capitalize()
    city = city.upper()
    print(f'processing {city}')
    
    img_paths = sorted(
        [path.relative_to(digitanie) for path in pathlib.Path(digitanie/city).glob('*_[0-9].tif')], 
        key=lambda x: int(x.stem.split('_')[-1])
    )
    
    for i, img in enumerate(img_paths):
        
        if i < 7: split=0
        elif i < 8: split=1
        else: split=2
        
        with rasterio.open(digitanie/img) as f:
            height, width = f.shape
            
        row = [img,0,0,width,height,split]
        split_table.append(row)
    
cols = ['img', 'col_off', 'row_off', 'width', 'height', 'split']
df_split = pd.DataFrame(split_table, columns = cols)
#HTML(df_split.to_html(index=False))

processing TOULOUSE
processing ARCACHON
processing BIARRITZ
processing MONTPELLIER
processing STRASBOURG
processing NANTES
processing PARIS

In [5]:
#df_split.to_csv('../datamodules/splits/digitanie_france/split.csv', index=True)
df_stats_duplic.to_csv('../datamodules/splits/digitanie_france/stats.csv', index=True)
#df_cls.to_csv('../datamodules/splits/digitanie_france/cls.csv', index=True)